*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f9f9f9 url(../img/img.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #333;
  margin: 0;
  padding: 20px;
  min-height: 100vh;
}

header {
  background: #666;
  color: white;
  padding: 15px 20px;
}

header h1 {
  margin: 0;
}

header nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.item {
  background: #007acc;
  color: white;
  padding: 20px;
  border-radius: 6px;
  flex: 1 1 250px;
  margin: 10px;
  position: relative;
}

.item h2 {
  margin-top: 0;
}

button {
  background: rgb(29, 111, 253);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: rgb(11, 3, 231);
}

footer {
  text-align: center;
  padding: 20px;
  color: #666;
  border-top: 1px solid #ccc;
  margin-top: 30px;
}

.item::after{
  content: "Novo!";
  background: red;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
}