*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../img/img.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container{
    width: 420px;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    color: #ffffff;
    padding: 30px 40px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3), 0 5px 15px rgba(0, 0, 0, 0.2);
}

.container h1{
    font-size: 36px;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 40px;
    border: 2px solid rgba(238, 233, 233, 0.2);
    outline: none;
    font-size: 16px;
    color: #fbfafa;
    padding: 20px 40px 20px 20px;
}

.input-box input::placeholder{
    color: #f8f4f488;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #f8f4f488;
}

button{
    width: 100%;
    height: 45px;
    background: #ffffff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin: 20px 0;
}

button:hover{
    background: #f0f0f0;
}

.lembrar-senha{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin: -15px 0 15px;
    flex-wrap: wrap;
}

.lembrar-senha label{
    display: flex;
    align-items: center;
    flex: 1;
}

.lembrar-senha label input{
    accent-color: #ffffff;
    margin-right: 8px;
    width: auto;
    height: auto;
}

.lembrar-senha a{
    color: #ffffff;
    text-decoration: none;
    white-space: nowrap;
    margin-left: 10px;
}

.lembrar-senha a:hover{
    text-decoration: underline;
}

.container div p{
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}

.container div p a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.container div p a:hover{
    text-decoration: underline;
}